## Creating augmenting data

In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
df1 = pd.read_excel("CustomersData.xlsx")
df2 = pd.read_csv("Discount_Coupon.csv")
df3 = pd.read_csv("Marketing_Spend.csv")
df4 = pd.read_csv("Online_Sales.csv")
df5 = pd.read_excel("Tax_amount.xlsx")

In [3]:
# merge the dataset
df = df1.merge(df4, on = "CustomerID", how = "inner")
df = df.merge(df5, on = "Product_Category")
df = df.merge(df3, left_on="Transaction_Date", right_on="Date")

In [4]:
df.head()

,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,Quantity,Avg_Price,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Online_Spend
0,17850,M,Chicago,12,16679,1/1/2019,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used,0.10,1/1/2019,4500,2424.5
1,17850,M,Chicago,12,16680,1/1/2019,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used,0.10,1/1/2019,4500,2424.5
2,17850,M,Chicago,12,16681,1/1/2019,GGOEGFKQ020399,Google Laptop and Cell Phone Stickers,Office,1,2.05,6.5,Used,0.10,1/1/2019,4500,2424.5
3,17850,M,Chicago,12,16682,1/1/2019,GGOEGAAB010516,Google Men's 100% Cotton Short Sleeve Hero Tee...,Apparel,5,17.53,6.5,Not Used,0.18,1/1/2019,4500,2424.5
4,17850,M,Chicago,12,16682,1/1/2019,GGOEGBJL013999,Google Canvas Tote Natural/Navy,Bags,1,16.50,6.5,Used,0.18,1/1/2019,4500,2424.5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52924 entries, 0 to 52923
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           52924 non-null  int64
 1   Gender               52924 non-null  object
 2   Location             52924 non-null  object
 3   Tenure_Months        52924 non-null  int64
 4   Transaction_ID       52924 non-null  int64
 5   Transaction_Date     52924 non-null  object
 6   Product_SKU          52924 non-null  object
 7   Product_Description  52924 non-null  object
 8   Product_Category     52924 non-null  object
 9   Quantity             52924 non-null  int64
 10  Avg_Price            52924 non-null  float64
 11  Delivery_Charges     52924 non-null  float64
 12  Coupon_Status        52924 non-null  object
 13  GST                  52924 non-null  float64
 14  Date                 52924 non-null  object
 15  Offline_Spend        52924 non-null  int64
 16  Online_Spend         52924 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 6.9+ MB

In [6]:
df["Transaction_Date"] = pd.to_datetime(df["Transaction_Date"], format='%m/%d/%Y')
df['Month'] = df["Transaction_Date"].apply(lambda x : x.strftime('%m'))
df['Month'] = df['Month'].astype('int')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52924 entries, 0 to 52923
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           52924 non-null  int64
 1   Gender               52924 non-null  object
 2   Location             52924 non-null  object
 3   Tenure_Months        52924 non-null  int64
 4   Transaction_ID       52924 non-null  int64
 5   Transaction_Date     52924 non-null  datetime64[ns]
 6   Product_SKU          52924 non-null  object
 7   Product_Description  52924 non-null  object
 8   Product_Category     52924 non-null  object
 9   Quantity             52924 non-null  int64
 10  Avg_Price            52924 non-null  float64
 11  Delivery_Charges     52924 non-null  float64
 12  Coupon_Status        52924 non-null  object
 13  GST                  52924 non-null  float64
 14  Date                 52924 non-null  object
 15  Offline_Spend        52924 non-null  int64
 16  Online_Spend         52924 non-null  float64
 17  Month                52924 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(5), object(7)
memory usage: 7.1+ MB

In [8]:
df2['Month'].head()

0    Jan
1    Feb
2    Mar
3    Jan
4    Feb
Name: Month, dtype: object

In [9]:
df["Month"].head()

0    1
1    1
2    1
3    1
4    1
Name: Month, dtype: int32

In [10]:
df2["Month"] = df2['Month'].apply(lambda x: datetime.datetime.strptime(x, '%b').month)

In [11]:
df = df.merge(df2, on = ['Month','Product_Category'], how = 'outer')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52955 entries, 0 to 52954
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           52924 non-null  float64
 1   Gender               52924 non-null  object
 2   Location             52924 non-null  object
 3   Tenure_Months        52924 non-null  float64
 4   Transaction_ID       52924 non-null  float64
 5   Transaction_Date     52924 non-null  datetime64[ns]
 6   Product_SKU          52924 non-null  object
 7   Product_Description  52924 non-null  object
 8   Product_Category     52955 non-null  object
 9   Quantity             52924 non-null  float64
 10  Avg_Price            52924 non-null  float64
 11  Delivery_Charges     52924 non-null  float64
 12  Coupon_Status        52924 non-null  object
 13  GST                  52924 non-null  float64
 14  Date                 52924 non-null  object
 15  Offline_Spend        52924 non-null  float64
 16  Online_Spend         52924 non-null  float64
 17  Month                52955 non-null  int64
 18  Coupon_Code          52555 non-null  object
 19  Discount_pct         52555 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(8)
memory usage: 8.1+ MB

In [12]:
#Finding Missing values in all columns
miss = pd.DataFrame(df.isnull().sum())
miss = miss.rename(columns={0:"miss_count"})
miss["miss_%"] = (miss.miss_count/len(df.CustomerID))*100
miss[ miss['miss_count'] > 0]

                     miss_count    miss_%
CustomerID                   31  0.058540
Gender                       31  0.058540
Location                     31  0.058540
Tenure_Months                31  0.058540
Transaction_ID               31  0.058540
Transaction_Date             31  0.058540
Product_SKU                  31  0.058540
Product_Description          31  0.058540
Quantity                     31  0.058540
Avg_Price                    31  0.058540
Delivery_Charges             31  0.058540
Coupon_Status                31  0.058540
GST                          31  0.058540
Date                         31  0.058540
Offline_Spend                31  0.058540
Online_Spend                 31  0.058540
Coupon_Code                 400  0.755358
Discount_pct                400  0.755358

In [13]:
df.duplicated().sum()

0

In [14]:
df = df.dropna(subset = ["CustomerID", "Coupon_Code"])
df.shape

(52524, 20)

In [15]:
miss = pd.DataFrame(df.isnull().sum())
miss = miss.rename(columns={0:"miss_count"})
miss["miss_%"] = (miss.miss_count/len(df.CustomerID))*100
miss[ miss['miss_count'] > 0]

Empty DataFrame
Columns: [miss_count, miss_%]
Index: []

In [16]:
df.Product_Category.unique()

array(['Accessories', 'Android', 'Apparel', 'Bags', 'Bottles',
       'Drinkware', 'Gift Cards', 'Headgear', 'Housewares', 'Lifestyle',
       'Nest-Canada', 'Nest-USA', 'Notebooks & Journals', 'Office',
       'Waze', 'Nest'], dtype=object)

# Add Synthetic Columns

I am gonna generate user Behavior Data (at individual or aggregate level)
- impressions_online: number of times users were shown online ads (based on online marketing spend)
- clicks_online: derived from impressions × synthetic click-through rate (CTR)
  
I will use Google Ads, Meta Ads average CTR/CVR) for reference

**My Benchmarks based on research**:

- CTR (Click-through Rate): 6.42%
- CVR (Conversion Rate):
  - - 2.02% for e-commerce
  - - 6.96% for general conversions
- CPC (Cost per Click): $4.66

- CPL (Cost per Lead): $66.69

I will use the 2.02% CVR since i am working with e-commerce data.

In [17]:
# Calculate number of purchases or number of transactions per day
actual_purchases = df4.groupby('Transaction_Date').size().reset_index(name='purchases')

# Ensure 'Transaction_Date' is datetime in both DataFrames
df['Date'] = pd.to_datetime(df['Date'])  
actual_purchases['Transaction_Date'] = pd.to_datetime(actual_purchases['Transaction_Date'])

# Merge purchases into main DataFrame on matching date
df = df.merge(actual_purchases, left_on = 'Date', right_on = 'Transaction_Date', how = 'left')
df['purchases'] = df['purchases'].fillna(0)

# Compute synthetic clicks (using CVR = 2.02%)
df['clicks_online'] = (df['purchases'] / 0.0202).replace([np.inf, -np.inf], np.nan).fillna(0).astype(int)

#Compute synthetic impressions (using CTR = 6.42%)
df['impressions_online'] = (df['clicks_online'] / 0.0642).replace([np.inf, -np.inf], np.nan).fillna(0).astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52524 entries, 0 to 52523
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           52524 non-null  float64
 1   Gender               52524 non-null  object
 2   Location             52524 non-null  object
 3   Tenure_Months        52524 non-null  float64
 4   Transaction_ID       52524 non-null  float64
 5   Transaction_Date_x   52524 non-null  datetime64[ns]
 6   Product_SKU          52524 non-null  object
 7   Product_Description  52524 non-null  object
 8   Product_Category     52524 non-null  object
 9   Quantity             52524 non-null  float64
 10  Avg_Price            52524 non-null  float64
 11  Delivery_Charges     52524 non-null  float64
 12  Coupon_Status        52524 non-null  object
 13  GST                  52524 non-null  float64
 14  Date                 52524 non-null  datetime64[ns]
 15  Offline_Spend        52524 non-null  float64
 16  Online_Spend         52524 non-null  float64
 17  Month                52524 non-null  int64
 18  Coupon_Code          52524 non-null  object
 19  Discount_pct         52524 non-null  float64
 20  Transaction_Date_y   52524 non-null  datetime64[ns]
 21  purchases            52524 non-null  int64
 22  clicks_online        52524 non-null  int32
 23  impressions_online   52524 non-null  int32
dtypes: datetime64[ns](3), float64(10), int32(2), int64(2), object(7)
memory usage: 9.2+ MB

In [19]:
#save to csv
df.to_csv("marketing_extended.csv", index = False)